{% extends 'mailing/base.html'%}
{% load static %}
{% block content %}

<div class="container col-10">
    <div class="card">
        <div class="card-header text-center" style="color: orange">
            <h1><b>Клиенты</b></h1>
        </div>
        <div class="button-group">
            {% if user == object.mailing.user or user.is_superuser %}
            <a class="btn btn-outline-success" href="{% url 'mailing:client_create'%}" role="button">Добавить
                клиента</a>
            {% endif %}
            <a class="btn btn-outline-info" href="{% url 'mailing:mailing_list'%}" role="button">Список рассылок</a>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">
            <div style="color: orange"><b>{{object | title}}</b></div>
        </h5>
        <p class="card-text">
        <table class="table table-stripped">
            <tr>
                <th>Имя</th>
                <th>email</th>
                <th>Комментарий</th>
                <th>Подписан на рассылку</th>
                <th>Активен</th>
                <th>Посмотреть</th>
                <th>Изменить</th>
                <th>Удалить</th>

            </tr>

            {% if only_users == True %}

            {% for object in object_list %}
            {% if user == object.mailing.user %}


            <tr>

                <td>{{object.name}}</td>
                <td>{{object.email}}</td>
                <td>{{object.comment}}</td>
                <td>{{object.mailing}}</td>
                <td>{{object.is_active}}</td>


                <td>
                    <a class="btn btn-outline-primary" href="{%url 'mailing:mail_detail' object.pk %}"
                       role="button">Посмотреть</a>
                </td>

                <td>
                    <a class="btn btn-outline-primary" href="{%url 'mailing:mail_update' object.pk %}"
                       role="button">Изменить</a>
                </td>
                <td>
                    <a class="btn btn-outline-primary" href="{%url 'mailing:mail_delete' object.pk%}"
                       role="button">Удалить</a>
                </td>
                {% endif %}


            </tr>
            {% endfor %}

            {% else %}


            {% for object in object_list %}


            <tr>

                <td>{{object.name}}</td>
                <td>{{object.email}}</td>
                <td>{{object.comment}}</td>
                <td>{{object.mailing}}</td>
                <td>{% if object.is_active == True %}
                    Да
                    {% else %}
                    Нет
                    {% endif %}
                </td>
                {% if user == object.user or user.is_superuser %}
                <td>
                    <a class="btn btn-outline-primary" href="{%url 'mailing:client_detail' object.pk %}"
                       role="button">Посмотреть</a>
                </td>
                <td>
                    <a class="btn btn-outline-primary" href="{%url 'mailing:client_update' object.pk %}"
                       role="button">Изменить</a>
                </td>
                <td>
                    <a class="btn btn-outline-danger" href="{%url 'mailing:client_delete' object.pk%}"
                       role="button">Удалить</a>
                </td>
                {% else %}
                <td><a class="btn btn-outline-secondary" disabled>Посмотреть</a>
                </td>
                <td><a class="btn btn-outline-secondary" disabled>Изменить</a>
                </td>
                <td><a class="btn btn-outline-secondary" disabled>Удалить</a>
                </td>
                {%endif%}

            </tr>

            {% endfor %}
            {% endif %}


        </table>
        </p>
    </div>
</div>
{% endblock %}