{% extends 'mailing/base.html'%}
{% load static %}
{% block content %}

<div class="container col-10">
    <div class="card">
        <div class="card-header text-center" style="color: orange">
            <h1><b>Рассылки</b></h1>
        </div>
        <div class="button-group">
            <a class="btn btn-outline-success" href="{% url 'mailing:mailing_create'%}" role="button" >Добавить
                рассылку</a>
            <a class="btn btn-outline-info" href="{% url 'mailing:settings_list'%}" role="button">Список
                настроек</a>
            <a class="btn btn-outline-info" href="{% url 'mailing:message_list'%}" role="button">Список
                писем</a>
            <a class="btn btn-outline-info" href="{% url 'mailing:client_list'%}" role="button">Список клиентов</a>
            <a class="btn btn-outline-info" href="{% url 'mailing:log_list'%}" role="button">Список попыток
                рассылок</a>
        </div>
    </div>

    <div class="card-body">
        {% if perms.mailing.change_mailing and perms.mailing.view_mailing and perms.mailing.can_turn_off_mailing %}
        <h5 class="card-title">

            <div style="color: red"><b>Рассылки: &nbsp; режим менеджера </b></div>

        </h5>
        <p class="card-text">

        <table class="table table-stripped">
            <tr>
                <th>Название</th>
                <th>Текст рассылки</th>
                <th>Дата создания</th>
                <th>Владелец рассылки</th>
                <th>Статус</th>
                <th>Информация</th>
                <th>Изменить</th>

            </tr>
            {% for object in object_list %}
            <tr>
                {% if perms.mailing.view_mailing %}
                <td>{{object.title}}</td>
                <td>{{object.message.body}}</td>
                <td>{{object.created_at}}</td>
                <td>{{object.user}}</td>
                <td>{% if object.settings.status_changed %}
                    Включена
                    {% else %}
                    Отключена
                    {% endif %}
                </td>

                <td>
                    <a class="btn btn-primary" href="{%url 'mailing:mailing_detail' object.pk%}" role="button">Информация</a>
                </td>
                <td>
                    {%if object.settings.status_changed %}
                    <a class="btn btn-danger" href="{%url 'mailing:mailing_activity' object.pk%}"
                       role="button">Деактивировать</a>
                    {% else %}
                    <a class="btn btn-success" href="{%url 'mailing:mailing_activity' object.pk%}"
                       role="button">&nbsp;&nbsp;Активировать&nbsp;&nbsp;</a>
                    {%endif%}
                </td>
                {% endif %}

            </tr>
            {% endfor %}
        </table>
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">

                <div style="color: orange"><b> Рассылки: &nbsp; режим владельца</b></div>

            </h5>
            <p class="card-text">
            <table class="table table-stripped">
                <tr>
                    <th>Название</th>
                    <th>Текст рассылки</th>
                    <th>Дата создания</th>
                    <th>Владелец рассылки</th>
                    <th>Статус</th>
                    <th>Информация</th>
                    <th>Изменить</th>
                    <th>Удалить</th>
                    <th>Отправить</th>

                </tr>
                {% for object in object_list %}
                {% if user == object.user or user.is_superuser%}
                <tr>
                    <td>{{object.title}}</td>
                    <td>{{object.message.body}}</td>
                    <td>{{object.created_at}}</td>
                    <td>{{object.user}}</td>
                    <td>{% if object.settings.status_changed %}
                        Включена
                        {% else %}
                        Отключена
                        {% endif %}
                    </td>

                    <td>
                        <a class="btn btn-outline-primary" href="{%url 'mailing:mailing_detail' object.pk%}"
                           role="button">Информация</a>
                    </td>
                    <td>
                        <a class="btn btn-outline-primary" href="{%url 'mailing:mailing_update' object.pk%}"
                           role="button">Изменить</a>
                    </td>
                    <td>
                        <a class="btn btn-outline-primary" href="{%url 'mailing:mailing_delete' object.pk%}"
                           role="button">Удалить</a>
                    </td>
                    <td>
                        <a class="btn btn-outline-danger" href="{%url 'mailing:mailing_send' object.pk%}"
                           role="button">Отправить</a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
            </p>
        </div>
    </div>
</div>
{% endblock %}