{% extends 'mailing/base.html' %}

{% block content %}
<form class="row" method="post" enctype="multipart/form-data">
    <div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog"
         id="modalChoice">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-3 shadow">
                <div class="modal-body p-4 text-center">
                    {% csrf_token %}
                    <h5 class="mb-0">Подтверждение удаления</h5>
                    <p class="mb-0">Вы действительно хотите удалить "{{object.title}}" ?</p>
                </div>
                <div class="modal-footer flex-nowrap p-0">
                    <button type="submit"
                            class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0 border-end">
                        <strong>Да</strong></button>
                    <a type="btn btn-primary"
                       class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0"
                       href="{% url 'mailing:mailing_list' %}">Отмена</a>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}